<!DOCTYPE html>
<html lang='pl'>
<head>
  <meta charset='utf-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cmentarz w Luboniu</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="http://openlayers.org/en/v3.13.0/css/ol.css" type="text/css">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

  <link rel = "stylesheet" type="text/css" href = "style.css">


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39831071-3', 'auto');
  ga('send', 'pageview');

</script>

</head>
<body>

  <div class="spinner-overlay" id="loader">
    <div class="spinner">
      <div class="dot1"></div>
      <div class="dot2"></div>
    </div>
  </div>


  <div id="map" class="map"></div>

    <div id='header' class="col-xs-12 container">

        <div id="left_panel" class="col-xs-2 hidden-xs">
            <div id='control_div'>
                <div id='panel_div'></div>
            </div>

            <div id="logo" class="hidden-sm">
                <a href="http://www.pro-gis.pl" target="_blank"><img src="img/logo.png" height="40px"></a>
            </div>
        </div>

       <!--  <div id="left2_panel" class="col-xs-2">

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-link"></span> Linki <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="http://www.parafiaskorzewo.pl/" target="_blank">Parafia w Skórzewie</a></li>
                    <li class="divider"></li>
                    <li><a href="http://www.mementomori.com.pl/" target="_blank">Zakład pogrzebowy<br> Memento Mori</a></li>
                </ul>
            </div>


            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-info-sign"></span> Info <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="http://www.pro-gis.pl/index.php?option=com_content&view=article&id=20&Itemid=161" target="_blank">Regulamin cmentarza</a></li>
                    <li class="divider"></li>
                    <li><a href="http://www.pro-gis.pl/index.php?option=com_content&view=article&id=21&Itemid=163" target="_blank">Jak korzystać ze strony</a></li>
                </ul>
            </div>
        </div> -->

        <div class="col-xs-4">
            <p class="title hidden-xs">Cmentarz w Luboniu</p>
        </div>

        <div id="search_block" class="col-xs-12 col-sm-4">
            <form class="form-inline" id="search-form">
                <div class="form-group">
                    <input name="search_name" id="search_name" type="text" class="form-control" placeholder="Nazwisko i Imię"/><br/>
                </div>
                <div class="form-group"style="display:none">
                    <input name="search_death" id="search_death" type="text"  class="form-control" placeholder="Rok śmierci"/><br/>
                </div>
                <div class="form-group">
                    <input id="search_button" class="btn btn-success" type="submit" size="20" class="btn btn-default" value="Szukaj" />
                </div>
            </form>
        </div>

    </div>

    <div id="logo2" class="visible-sm visible-xs">
        <a href="http://www.pro-gis.pl" target="_blank"><img src="img/logo.png" height="40px"></a>
    </div>


  <script data-main="js/app" src="js/lib/require.js"></script>

  <script type="text/template" id="info-template">
    <div class="dialog">
      <span class="close-btn">+</span>

      <div class="row">

        <ul class="names col col-sm-7 col-xs-12">
          <% _.each(names, function(name) { %>
            <li>
              <span class="name"><%= name.name %></span>
              <div class="row">
                <div class="col col-xs-6">* <%= name.birth %></div>
                <div class="col col-xs-6">&#8224; <%= name.death %></div>
              </div>
            </li>
          <% }); %>
        </ul>

        <div class="col col-sm-5 hidden-xs">
          <a class="photo" style="background-image: url(http://lubon.pro-gis.pl/<%= photo %>)" href="http://lubon.pro-gis.pl/<%= photo %>" target="_blank"></a>
        </div>

      </div>
    </div>
  </script>

</body>
</html>
