
.map{
  position: fixed;
  top: 100px;
  left: 0px;
  width: 100%;
  height: calc(100% - 100px);
}

#header{
height:100px;

  background-image: -webkit-linear-gradient(45deg, #222 25%, #333 26%, #333 50%, #222 51%, #222 75%, #333 76%);
  background-image: linear-gradient(45deg, #222 25%, #333 26%, #333 50%, #222 51%, #222 75%, #333 76%);
  background-size: 10px 10px;
  -moz-background-size: 10px 10px;
  -webkit-background-size: 10px 10px;
  background-repeat: repeat;
  /* gradient-bg(color 1, color 2, thickness = 5% - 45% [optional], size = always even number [optional]) */
}

#left_panel{
height:100%;
}

#left2_panel{
text-align: right;
height:100%;
padding-top:13px;
}

p.title{
position:relative;
top:10px;
font-size:30px;
color:white;
text-align:center;
text-transform:uppercase;
font-family: "Ubuntu",sans-serif;
}

#search_block{
height: 100%;
padding-top: 13px;
display: inline;
}

div.form-group{
height: 34px;
margin-bottom: 0px;
width:auto;
}

#logo{
position: relative;
padding-top:13px;
left: 10px;
}

#logo2{
position: fixed;
bottom: 13px;
left: 10px;
}




.spinner-overlay {
  background: rgba(0,0,0,.6);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.spinner {
  width: 40px;
  height: 40px;
  position: fixed;
  text-align: center;
  top: calc(50% - 20px);
  left: calc(50% - 20px);

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #fff;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}






.dialog {
  position: fixed;
  left: calc(50% - 300px);
  top: 150px;
/*  width: auto;*/
  width: 600px;
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 0 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0 0 5px 0px rgba(0,0,0,0.75);

}

@media screen and (max-width: 580px) {
    .dialog {
      position: fixed;
      left: calc(50% - 150px);
      top: 150px;
    /*  width: auto;*/
      width: 300px;
      background: #fff;
      padding: 20px;
      -webkit-box-shadow: 0 0 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0 0 5px 0px rgba(0,0,0,0.75);
      box-shadow: 0 0 5px 0px rgba(0,0,0,0.75);

    }
}

.dialog .close-btn {
  float: right;
  position: relative;
  top: -10px;
  font-size: 30px;
  color: #aaa;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  line-height: 20px;
  cursor: pointer;
}

.dialog .row {
  clear: both;
}

.dialog ul {
  list-style: none;
}

.dialog ul .row {
  margin: 5px 0 15px;
  font-weight: bold;
}

.dialog ul .name {
  display: block;
  border: 1px solid #ddd;
  background: #f6f6f6;
  font-size: 1.08em;
  padding: 5px 15px;
}

.dialog .photo {
  display: block;
  width: 100%;
  height: 200px;
  background: no-repeat center;
  background-size: cover;
}




.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

#search_name {
  max-width: 180px;
}







